.center-img
{
    margin: 0 auto;
}
body
{
    background-image: url("D:/React/weatherapp/src/Weather-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.display{
    background-color:rgba(253, 247, 246, 0.5);
    min-height: 30vh;
    margin-top: 5%;
}
.displays
{
    -webkit-backdrop-filter: blur(8px); 
    backdrop-filter: blur(8px);
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.6);
}
.cus-nav
{
    background-color: rgba(119,174,205,255);
}
.line
{
    border: 2px solid black;
}
.error
{
    text-align: center;
    padding:10px;
}